nav{
  background-color:  rgb(202, 145, 255);

}
.collapse-nav{
  text-align: justify;
}
.nav-link.btn {
  color: var(--clr-accent);
  background-color: var(--clr-rgba);
  border: 10px solid var(--clr-accent);
  border-radius: 5px;
  
  /* Set transition property separately */
  transition-property: transform;
  /* Increase transition duration to make it slower */
  transition-duration: 1s;
  /* Use ease or other timing functions as needed */
  transition-timing-function: ease;
  /* Remove the transition delay if you want it to start immediately */
  /* transition-delay: 1s; */
}

.nav-link.btn:hover {
  background-color:rgb(101, 0, 195);;
  color: azure;
  transform: translateY(-5px);
}